@page
@model Farmacie.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<form method="get" class="form-inline mb-4">
    <div class="form-group mr-2">
        <label for="selectedCategory" class="mr-2">Filter by Category:</label>
        <select id="selectedCategory" name="selectedCategory" asp-for="SelectedCategory" class="form-control">
            <option value="">All Categories</option>
            @foreach (var category in Model.CategoryList)
            {
                <option value="@category.Name"
                        selected="@((category.Name == Model.SelectedCategory) ? "selected" : "")">
                    @category.Name
                </option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="@product.ImageUrl" alt="Product image">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Price</p>
                    <p class="card-text">Stock: @product.Stock</p>
                    <p class="card-text">
                        Categories:
                        @foreach (var category in product.Categories)
                        {
                            <span class="badge badge-info">@category.Name</span>
                        }
                    </p>
                    <form method="post" asp-page-handler="AddToCart">
                        <input type="hidden" name="productId" value="@product.ID" />
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
